 /* EX1) Write a selector to target the h1 in jumbotron */
 
.display-4{
    color:aqua;
    border: 3px solid purple;
    background-color: seagreen;
}
/* EX2) Write a selector to target every children of the navbar */
    
.nav >a{
    color:aqua;
    border: 3px solid rgb(64, 245, 27);
    border: radius 10px;
}

/* EX3) Write a selector to target the "continue reading..." inside the jumbotron */
 p.lead >a{
    color:aqua;
    border: 3px solid rgb(64, 245, 27);
    border: radius 10px;
}
/* EX4) Write a selector to target the first blogpost Dangerous ************* */
.row .col-md-6 .row .col{
    background-color:yellow;
}
/* EX5) Write a selector to target the "even" links in the navbar ************* */ 
.nav-scroller .nav :nth-child(2n) {
    text-decoration-line:underline;
     background-color: indigo;
  
  }
/* EX6) Write a selector to target the last blog post */
.row .col-md-6 .row .col{
    background-color: rgb(183, 214, 47) !important;
  }

/* EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives ) */
.col-md-4 .p-4 .list-unstyled li a{
    color: rgb(155, 109, 230)!important;
}
/* EX8) Write a selector to target the second post author */
.blog-post{
    background-color: violet;

}
/* EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly */
footer p a{
    color: rgb(248, 0, 0);
}
/* EX10) Write a selector to target the footer */
footer{
    background-color: yellowgreen;
}
